body{
    font-family: Helvetica, sans-serif, Arial;
}

.container{
    text-align: center;
    margin: auto;
    padding: auto;    
}

.logo{
    display: block;
    margin-left: 100px;
    padding: 10px;
    
}

.menu{
    font-family: Helvetica;
    font-size: 15px;
    text-align: right;
    display: flex;
    list-style-type: none;
    margin-left: 950px;
       
}
li a{
    text-decoration: none;
    padding: 10px;
    color: grey;
    
}

.banner{
    display: block;
    margin: 0px auto;
}

.caixa{
    background-color: rgba(0, 0, 0, 0.6);
    padding: 20px;
    text-align: center;
    margin-left: 100px;
    margin-right: 750px;

}

article{
    display: flex;
    margin: 10px;
    width: 50px;
}

.article{
    width: 50px;
}


footer{
    text-align: left;
    padding: 2px;
}

p{
    color: black;
    font-size: 15px;
    
}