body{
	background-color: #FAF8DA;
	font-family: sans-serif;
}

h1{
	font-size: 50pt;
	font-family: sans-serif;
	color: #024959;
	text-align: center;
}

h2{
	font-family: sans-serif;
    color: rgb(32, 93, 118);
    font-size: 25px;
    margin: 0;
    padding: 0;
}

#texto{
    margin-top: 30px;
}

img.topo{
	text-align: center;
	width: 700px;
	display: block;
	margin-left: auto;
    margin-right: auto;
    padding: 40px;
}

section{
	display: grid;
    grid-template-columns: repeat(2, 150px);
    grid-template-rows: repeat(3, 150px);
    grid-gap: 50px 30px;
}

.container{
	margin-left: 500px;
}

.container img{
    margin-left: auto;
    margin-right: auto;
    max-width:200px;
    max-height:150px;
    width: auto;
    height: auto;
}

.grid-item{
    padding: 10px;
}

ul {
	color: #F2A71B;
	list-style: none;
}

a{
	text-decoration: underline;
    color:#F27457;
}

li::before{
    content: "• "; 
    color: rgb(235, 199, 42);    
}

.pequeno{
	background-color: #F2C12E;
	font-size: 10pt;
	font-family: sans-serif;
	color: white;
	text-align: center;
	margin-top: 60px;
    width: 100%;
    padding: 10px;
	margin: 10px;
}
